* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --pedal-font: 20px;
  --primary-font: Arial, Helvetica, sans-serif;
  --notes-color: #444;
  --primary-text-color: #ff7400;
  --secondary-text-color: white;
}

.page-container {
  background: url(../images/amp.jpg) no-repeat center center/cover;
  background-attachment: fixed;
}

/* Header Text */

.header {
  display: inline-block;
  margin: 0 500px;
  justify-content: center;
  color: var(--primary-text-color);
  font-family: var(--primary-font);
  font-size: 80px;
  padding-top: 50px;
}

.header span {
  color: var(--secondary-text-color);
}

.header-text {
  display: inline-block;
  color: var(--secondary-text-color);
  font-family: var(--primary-font);
  font-weight: 100;
  font-size: 25px;
  margin: 50px 460px;
  padding: 25px;
  background: #666;
  border: 1px solid black;
  border-radius: 15px;
}
.header-text span {
  color: var(--primary-text-color);
}

/* Peal Boxes */

.pedal-box {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  align-items: center;
  justify-content: center;
  margin: 0 500px;
  background: transparent;
}

.pedals {
  height: 400px;
  width: 400px;
  border: 1px solid black;
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
  color: white;
}

/* .music-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
  color: white;
} */

/* Tooltip text*/

.pedal-text {
  position: relative;
}

.pedal-box .pedal-text:hover::after {
  content: attr(text);
  position: absolute;
  background: white;
  left: 350px;
  top: 1rem;
  padding: 0.3rem 1rem;
  border-radius: 0.5rem;
  color: black;
  font-size: var(--pedal-font);
  font-family: var(--primary-font);
  width: 300px;
  z-index: 2;
}

.pedal-box .pedal-text:hover::before {
  content: "";
  position: absolute;
  left: 335px;
  top: 5rem;
  border-top: 50px solid transparent;
  border-right: 100px solid white;
  border-bottom: 50px solid transparent;
  border-width: 1rem 1rem 1rem 0;
}

.youtube {
  position: absolute;
  top: 10px;
  left: 40px;
  align-items: center;
  display: none;
}

.toggler {
  position: absolute;
  top: 240px;
  left: 110px;
  z-index: 2;
  cursor: pointer;
  width: 40%;
  height: 40%;
  opacity: 0;
}

.toggler + .youtube + .notube {
  display: none;
}
.pedal-text .toggler:checked ~ .youtube {
  display: initial;
}

/* Animation */
.notes {
  animation: notes 2s infinite linear;
  animation-play-state: paused;
  color: var(--notes-color);
}

.note-1,
.note-2,
.note-3,
.note-4 {
  position: absolute;
  font-size: 35px;
  opacity: 0;
  left: 5px;
  bottom: 5px;
  z-index: -1;
}

.pedal-text:hover .notes {
  animation-play-state: running;
  z-index: 1;
}

.musicnotes .note-1 {
  animation-delay: 0.5s;
}
.musicnotes .note-2 {
  animation-delay: 1s;
}

.musicnotes .note-3 {
  animation-delay: 1.5s;
}

.musicnotes .note-4 {
  animation-delay: 2s;
}

@keyframes notes {
  0% {
    transform: scale(1) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: scale(1.5) translate(50%, -50%);
  }
  80% {
    opacity: 0;
    transform: scale(1.5) translate(100%, -100%);
  }
  100% {
    transform: scale(1.5) translate(100%, -100%);
    opacity: 0;
  }
}

.footer {
  padding: 100px;
}
