.red {
  background-color: red;
  width: 200px;
  height: 50px;
  margin: 10px;
  font-size: 20px;
}
.blue {
  background-color: blue;
  width: 200px;
  height: 50px;
  margin: 10px;
  font-size: 20px;
}
.yellow {
  background-color: yellow;
  width: 200px;
  height: 50px;
  margin: 10px;
  font-size: 20px;
}

h1 {
  margin: 10px;
}
