.page-loader {
  height: 100vh;
  width: 100vw;
}

.spinner {
  margin-top: 50vh;
  margin-left: auto;
  margin-right: auto;
  border: blanchedalmond 5px solid;
  border-top: orangered 5px solid;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  animation-name: goaround;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

@keyframes goaround {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.hide {
  display: none;
}
