* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav-bar {
  width: 100vw;
  height: 5vh;
  border: 1px solid black;
  padding: 10px;
  background-color: grey;
}

.nav-bar a {
  margin-left: 10px;
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.home {
  font-size: 30px;
  text-align: center;
  margin-top: 45vh;
}

.product a {
  margin-left: 20px;
  font-weight: normal;
  font-size: 16px;
  color: rebeccapurple;
}
