* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.search-bar {
  height: 5vh;
  background-color: grey;
}

.search-input {
  width: 20%;
  height: 30px;
  margin-top: 5px;
  margin-left: 40%;
  border-radius: 10px;
  padding-left: 10px;
}

.avatars-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
}
.avatar {
  border: 1px solid black;
  font-size: 20px;
  margin: 10px;
  padding: 10px;
  width: 200px;
  text-align: center;
}

.avatar img {
  margin-top: 10px;
}
