body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.quiz {
  position: relative;
  width: 400px;
  height: 300px;
  border: 3px solid black;
  margin-left: 10px;
  margin-top: 10px;
}

.quiz-title {
  position: absolute;
  top: 10px;
  margin-left: 20px;
}

.q1 {
  position: absolute;
  top: 90px;
  margin-left: 20px;
}
.input1 {
  position: absolute;
  top: 150px;
  margin-left: 20px;
}
.q2 {
  position: absolute;
  top: 180px;
  margin-left: 20px;
}
.input2 {
  position: absolute;
  top: 250px;
  margin-left: 20px;
}
