.container {
  width: 300px;
  height: 400px;
  border: 1px solid black;
}
.button {
  margin-left: 10px;
  margin-top: 20px;
}

.show {
  width: 70%;
  height: 70%;
  background-color: chartreuse;
  margin: 10px;
}

.hide {
  display: none;
}
