* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.jokes-container {
  width: 550px;
  margin-left: 5vw;
  margin-top: 5vh;
}
.random-joke,
.joke-from-list {
  width: 500px;
  height: 100px;
  border: 1px solid black;
  padding: 10px;
  background-color: blanchedalmond;
  border-radius: 10px;
  margin: 10px;
}

.list-item {
  padding: 10px;
}

.buttons {
  padding: 10px;
}
