/* Gotham Family font Import */
@import url(//db.onlinewebfonts.com/c/3a47f5f06b5484abfeee9eac90348a9c?family=Gotham);
@font-face {font-family: "Gotham"; src: url("//db.onlinewebfonts.com/t/3a47f5f06b5484abfeee9eac90348a9c.eot"); src: url("//db.onlinewebfonts.com/t/3a47f5f06b5484abfeee9eac90348a9c.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/3a47f5f06b5484abfeee9eac90348a9c.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/3a47f5f06b5484abfeee9eac90348a9c.woff") format("woff"), url("//db.onlinewebfonts.com/t/3a47f5f06b5484abfeee9eac90348a9c.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/3a47f5f06b5484abfeee9eac90348a9c.svg#Gotham") format("svg"); }

/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.chat-logo {
    position:fixed;
    border-radius: 50%;
    background: white;
    margin-top: 86vh;
    margin-left: 187vh;
    padding-top: 13px;
    padding-left: 11px;
    padding-right: 12px;
    padding-bottom: 9px;
    border: 2px solid #cccccc;
}

.arrow-up {
    position:fixed;
    transform: rotate(180deg) scale(0.2);
    margin-left:189vh; 
    margin-top: -30px;
    opacity: 0.4;    
}
    




.main-section {
    background: url('../img/model-3-hero-desktop.jpeg') ;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: 100vh;

}


#navbar-logo img {
    padding: 20px;
    float:left;
    width:140px;        
} 

#navbar-models {          
        max-width: 35%;
        margin: auto auto;  
}


#navbar-models li  {
    margin-top:5px;
    margin-right:auto;
    padding: 12px;
    list-style: none;
    float: left;
    font-size:15px;
    font-family: "Gotham";
    }

#navbar-models li a {
    text-decoration: none;
    color:white;
}

#navbar-left li {
    list-style: none;
    float: right;
    font-size:15px;
    padding: 5px;
    margin-top:10px;
    color:white;
    margin-right:5px;
    font-family: "Gotham"
} 

#navbar-left li a {
    text-decoration: none;
    color:white;
}


#model-name {
    max-width: 30%;
    padding-top:100px;
    padding-left: 200px;;
    margin: auto auto; 
    font-family: "Gotham";
    color:white;
    font-size:40px;
}


/* Side Menu - White */

.sidemenu-items {
    list-style: none;
    color:white;
    font-size: 25px;
    padding-left: 10px;
    padding-top: 100px;
    font-weight: lighter;   
    
}

.sidemenu-items li {
    border-left: 1px  solid white;
    margin: 7px;
    height: 25px;
}

#current {
   border-left: 3px  solid white;
   margin-left: 5px;
}

.sidemenu-items li a {
    opacity: 0;
    text-decoration: none;
    color: white;
    font-family: "Gotham";
    font-size: 10px;;
    padding: 10px;

   
}

.sidemenu-item a:hover {
    opacity: 1;
    cursor: pointer;
}


#footer {          
    max-width: 35%; 
    margin-left: auto;  
    margin-right: auto;  
    margin-top: 30vh;  
   
    
}

#footer li img {
    color: white;
    width: 50px;
}
#footer li  {
    width: 150px;
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    list-style: none;
    float: left;
    font-size:30px;
    color:white;
    font-family: "Gotham";
    text-align:center;
    margin-bottom: 0;
  
}

#footer li h6 {
  
    width: 150px;
    list-style: none;
    float: left;
    font-size:14px;
    color:white;
    font-family: "Gotham";
    padding-right: 25px;
    margin-bottom: 15px;
    padding-top:15px;
   
}



.border-right {
    border-right: 1px solid white;
}
#order-now {
    margin-top: 15px;
    float:left;
    border: 3px white solid;
    border-radius: 25px;;
    color: white;
    font-family: "Gotham";
    font-size:12px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-right: 35px;
}



/********************** Safety Section ****************************/



.safety-section { 
    /* width:auto; */
    height:100vh;
    background: #f2f2f2;
    
}

.safety-left {
    width: 415px;
    height:80vh;
    background: #ffffff;
    float: left;
  }


.safety-right {
    background: url('../img/model_3_safety_hero.png');
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    height: 100vh;
    width: cal(100%-415px);
         
    }

#impact {
    font-family: "Gotham";
    padding-left: 10px;
    
    position:absolute;
    border-left: 3px solid black;
    margin-left: 770px;
    margin-top: 170px;
    height: 315px;
}


#rigid {
    font-family: "Gotham";
    padding-left: 10px;
    
    position:absolute;
    border-left: 3px solid black;
    margin-left: 1100px;
    margin-top: 80px;
    height: 150px;
}

#rollover {
    font-family: "Gotham";
    padding-left: 10px;
    position:absolute;
    border-left: 3px solid black;
    margin-left: 1160px;
    margin-top: 550px;
    height: 200px;
    padding-top: 190px;
}
#navbar-logo-black img {
    margin: 20px;
    margin-left: 20px;
    float:left;
    width: 95px;  
    height: auto;    
    }  

/* Sidemenu- Black */

.sidemenu-items-black {
    list-style: none;
    color:black;
    font-size: 25px;
    padding-left: 10px;
    padding-top: 250px;
    font-weight: lighter;   
    
}

.sidemenu-items-black li {
    border-left: 1px  solid black;
    margin: 7px;
    height: 25px;
}

#current-black {
   border-left: 3px  solid black;
   margin-left: 5px;
}

.sidemenu-items-black li a {
    opacity: 0;
    text-decoration: none;
    color: black;
    font-family: "Gotham";
    font-size: 10px;;
    padding: 10px;

   
}

.sidemenu-item-black a:hover {
    position: absolute;
    z-index: 5;
    opacity: 1;
    cursor: pointer;
}

.safety-text {
    width: 350px;
    position: absolute;
    float:left;
    font-family: "Gotham";
    margin-left:50px;
    margin-top: 50px;
}

#safety-text1 {

    margin-left: -2px;
    font-size: 20px;
    color:gray;
    
}
#safety-text2 {
    font-size: 20px;
    padding-bottom: 20px;
}
#safety-text3 {
    font-size:21px;
    padding-right:50px;
    color:gray;
}

.stars {
    position:absolute;
    border: 1px solid #eeeeee;
    border-radius:20px;
    margin-left:50px;
    margin-top: 300px;
    width:300px;
    height: 300px;
    background: #eeeeee;  
    font-family: "Gotham";  
    

}

#five-stars {
    
    font-size: 20px;
    padding:25px;
    text-align: center;
     
}

.star-items {
    position: absolute;
    width:100px;
}
.star-items li {
    list-style: none;
    padding-top: 12px;;
    padding-left:15px;
    
}

.star-items li h6 {
    font-size: 8px;;
}

.star-icons {
    float:right;

   }





.star-icons li {
    padding-top:15px;
    padding-right:15px;
    list-style: none;
}

.safety-footer {
    position: absolute;
    width: 415px;
    height:20vh;
    background: #ffffff;
    margin-top: 80vh;
    font-family: "Gotham";
    text-align: center;
    font-size: 14px;

 
   
}
#safety-footer-plus {
    margin-left: 50px;
    margin-top: 100px;
    border: solid black 3px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 30px;
    float: left;


}

#safety-learn-more {
    width: 110px;
    margin-top: 110px;
    float: left;
}

#safety-order-now {
    margin-top: 100px;
    width: 150px;
    border: solid black 3px;
    padding: 10px;
    border-radius: 20px;
    float: left;
}


/* ********************* Page Three *************************** */
.performance-section {
    height: 100vh;
}
.performance-img {
    background: url('../img/lhd-performance-hero-desktop.jpeg') ;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: 720px;
    }



#perf-sidemenu {
    padding-top: 250px;
}


.performance-footer {

    width: 50%;
    margin: auto auto;
    margin-top: 50px;
    height: 150px;
    font-family: "Gotham";
    

}

.perf-footer1 {
    
    
    width: 35%;
    height: 150px;    
    float:left;
}

#perf-text1 {
    color:grey;
    height: 30px;
    text-align: left;
    font-size: 18px;
    padding-top:10px;
}



#perf-text2 {
  
    height: 50px;  
    text-align: left;
    font-size: 28px;
    
}

.perf-footer1-sub {
    
    height: 50px; 
}

#perf-footer-plus {
    border: 3px solid black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 30px;
    float: left;
    padding-left: 7px;

}

#perf-learn-more {
    width: 110px;  
    float: left;
    padding-top: 10px;
    padding-left: 10px;
}

#perf-order-now {
    border: 3px solid black;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
    float: left;
}



.perf-footer2 {   
   
    width: 65%;
    height: 150px;    
    float:right;
}

#perf-text3 {
    padding-top:20px;
    height: 50px;
    color:grey;
}

#perf-img-footer {          
    max-width: 50%; 
    margin-left: auto;  
    margin-right: auto;  
    /* margin-top: 30vh;     */
    
}

#perf-img-footer li img {
    color: white;
    width: 300px;
}
#perf-img-footer li  {
    width: 300px;
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    list-style: none;
    float: left;
    font-size:30px;
    color:white;
    font-family: "Gotham";
    text-align:left;
    margin-bottom: 0;
  
}

#perf-img-footer li h6 {
  
    width: 300px;
    list-style: none;
    float: left;
    font-size:14px;
    color:white;
    font-family: "Gotham";
    padding-right: 25px;
    margin-bottom: 15px;
    padding-top:15px;
   
}
