.name-title {
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}
.names {
  width: 35vw;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-weight: normal;
}
.card {
  margin: 10px;
  border: 1px solid black;
  border-radius: 10px;
  width: 35vw;
  height: 20vh;
  padding: 10px;
  font-size: 20px;
}

.row {
  padding: 10px;
}
